In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
data = []
with open('Datasets/Restaurants_pruned.jsonl', 'r') as f:
    for line in f:
        data.append(json.loads(line))

df = pd.DataFrame(data)
df.head()

,business_id,name,address,city,stars,review_count,good_for_meal,categories,price
0,-0TffRSXXIlBYVbb5AwfTg,IndeBlue Modern Indian Food & Spirits,205 South 13th St,Philadelphia,4.5,1097.0,dinner,"Cocktail Bars, Food Delivery Services, Nightli...",$$
1,-1B9pP_CrRBJYPICE5WbRA,Spice 28,1228 Chestnut St,Philadelphia,4.0,822.0,"lunch, dinner","Asian Fusion, Restaurants, American (New), Tha...",$$
2,-5Rah4ZvWsDu4oilUZxhtw,World Cafe Live,3025 Walnut St,Philadelphia,4.0,350.0,dinner,"Nightlife, Arts & Entertainment, Restaurants, ...",$$
3,-ATiAtTikuGuqvaW2O6tNA,Marathon,121 S 16th St,Philadelphia,3.5,593.0,"lunch, brunch","Sandwiches, American (New), Lounges, Nightlife...",$$
4,-DGsnMlRrR_tv8avrpQLQw,Sam's Morning Glory Diner,735 S 10th St,Philadelphia,4.0,741.0,"brunch, breakfast","Breakfast & Brunch, Restaurants, Diners",$$

Stars

In [3]:
df['star_categories'] = pd.cut(df['stars'], bins=[0, 1, 2, 3, 4, 5],
                               labels=['0', '1', '2', '3', '4'],
                               include_lowest=True)

In [4]:
df.head()

,business_id,name,address,city,stars,review_count,good_for_meal,categories,price,star_categories
0,-0TffRSXXIlBYVbb5AwfTg,IndeBlue Modern Indian Food & Spirits,205 South 13th St,Philadelphia,4.5,1097.0,dinner,"Cocktail Bars, Food Delivery Services, Nightli...",$$,4
1,-1B9pP_CrRBJYPICE5WbRA,Spice 28,1228 Chestnut St,Philadelphia,4.0,822.0,"lunch, dinner","Asian Fusion, Restaurants, American (New), Tha...",$$,3
2,-5Rah4ZvWsDu4oilUZxhtw,World Cafe Live,3025 Walnut St,Philadelphia,4.0,350.0,dinner,"Nightlife, Arts & Entertainment, Restaurants, ...",$$,3
3,-ATiAtTikuGuqvaW2O6tNA,Marathon,121 S 16th St,Philadelphia,3.5,593.0,"lunch, brunch","Sandwiches, American (New), Lounges, Nightlife...",$$,3
4,-DGsnMlRrR_tv8avrpQLQw,Sam's Morning Glory Diner,735 S 10th St,Philadelphia,4.0,741.0,"brunch, breakfast","Breakfast & Brunch, Restaurants, Diners",$$,3

Price

In [5]:
#get unique prices
df['price'].unique()

array(['$$', '$', None, '$$$', nan, '$$$$'], dtype=object)

In [6]:
df.dropna(subset=['price'], inplace=True)
df['price'].unique()

array(['$$', '$', '$$$', '$$$$'], dtype=object)

In [7]:
df['price_categories'] = df['price'].map({'$': 1, '$$': 2, '$$$': 3, '$$$$': 4})
df.head()

,business_id,name,address,city,stars,review_count,good_for_meal,categories,price,star_categories,price_categories
0,-0TffRSXXIlBYVbb5AwfTg,IndeBlue Modern Indian Food & Spirits,205 South 13th St,Philadelphia,4.5,1097.0,dinner,"Cocktail Bars, Food Delivery Services, Nightli...",$$,4,2
1,-1B9pP_CrRBJYPICE5WbRA,Spice 28,1228 Chestnut St,Philadelphia,4.0,822.0,"lunch, dinner","Asian Fusion, Restaurants, American (New), Tha...",$$,3,2
2,-5Rah4ZvWsDu4oilUZxhtw,World Cafe Live,3025 Walnut St,Philadelphia,4.0,350.0,dinner,"Nightlife, Arts & Entertainment, Restaurants, ...",$$,3,2
3,-ATiAtTikuGuqvaW2O6tNA,Marathon,121 S 16th St,Philadelphia,3.5,593.0,"lunch, brunch","Sandwiches, American (New), Lounges, Nightlife...",$$,3,2
4,-DGsnMlRrR_tv8avrpQLQw,Sam's Morning Glory Diner,735 S 10th St,Philadelphia,4.0,741.0,"brunch, breakfast","Breakfast & Brunch, Restaurants, Diners",$$,3,2

Review

In [8]:
#get the distribution of review counts
df['review_count'].describe()

count     990.000000
mean      405.600000
std       449.605502
min       126.000000
25%       176.250000
50%       260.500000
75%       453.750000
max      5721.000000
Name: review_count, dtype: float64

In [9]:
df['review_count_categories'] = pd.cut(df['review_count'], bins=range(0, 6001, 100), labels=range(60))
df.head()

,business_id,name,address,city,stars,review_count,good_for_meal,categories,price,star_categories,price_categories,review_count_categories
0,-0TffRSXXIlBYVbb5AwfTg,IndeBlue Modern Indian Food & Spirits,205 South 13th St,Philadelphia,4.5,1097.0,dinner,"Cocktail Bars, Food Delivery Services, Nightli...",$$,4,2,10
1,-1B9pP_CrRBJYPICE5WbRA,Spice 28,1228 Chestnut St,Philadelphia,4.0,822.0,"lunch, dinner","Asian Fusion, Restaurants, American (New), Tha...",$$,3,2,8
2,-5Rah4ZvWsDu4oilUZxhtw,World Cafe Live,3025 Walnut St,Philadelphia,4.0,350.0,dinner,"Nightlife, Arts & Entertainment, Restaurants, ...",$$,3,2,3
3,-ATiAtTikuGuqvaW2O6tNA,Marathon,121 S 16th St,Philadelphia,3.5,593.0,"lunch, brunch","Sandwiches, American (New), Lounges, Nightlife...",$$,3,2,5
4,-DGsnMlRrR_tv8avrpQLQw,Sam's Morning Glory Diner,735 S 10th St,Philadelphia,4.0,741.0,"brunch, breakfast","Breakfast & Brunch, Restaurants, Diners",$$,3,2,7

good for meal

In [10]:
#drop record if good_for_meal is 'Unknown'
df.drop(df[df['good_for_meal'] == 'Unknown'].index, inplace=True)
#drop record if good_for_meal is '1'
df.drop(df[df['good_for_meal'] == '1'].index, inplace=True)
df.drop(df[df['good_for_meal'] == 1].index, inplace=True)
df.dropna(subset=['good_for_meal'], inplace=True)
df.drop(df[df['good_for_meal'] == ''].index, inplace=True)
df.drop(df[df['good_for_meal'] == 'nan'].index, inplace=True)

In [11]:
mealSet = []
#for each word in good_for_meal, create a column
for meal in df['good_for_meal']:
    #split based on , 
    for word in meal.split(','):
        word = word.strip()
        #add the word into a data structure that won't save the duplicates
        mealSet.append(str(word))

print(np.unique(mealSet))

['breakfast' 'brunch' 'dessert' 'dinner' 'latenight' 'lunch']

In [12]:
df['good_for_meal_categories'] = -1
df.head()

,business_id,name,address,city,stars,review_count,good_for_meal,categories,price,star_categories,price_categories,review_count_categories,good_for_meal_categories
0,-0TffRSXXIlBYVbb5AwfTg,IndeBlue Modern Indian Food & Spirits,205 South 13th St,Philadelphia,4.5,1097.0,dinner,"Cocktail Bars, Food Delivery Services, Nightli...",$$,4,2,10,-1
1,-1B9pP_CrRBJYPICE5WbRA,Spice 28,1228 Chestnut St,Philadelphia,4.0,822.0,"lunch, dinner","Asian Fusion, Restaurants, American (New), Tha...",$$,3,2,8,-1
2,-5Rah4ZvWsDu4oilUZxhtw,World Cafe Live,3025 Walnut St,Philadelphia,4.0,350.0,dinner,"Nightlife, Arts & Entertainment, Restaurants, ...",$$,3,2,3,-1
3,-ATiAtTikuGuqvaW2O6tNA,Marathon,121 S 16th St,Philadelphia,3.5,593.0,"lunch, brunch","Sandwiches, American (New), Lounges, Nightlife...",$$,3,2,5,-1
4,-DGsnMlRrR_tv8avrpQLQw,Sam's Morning Glory Diner,735 S 10th St,Philadelphia,4.0,741.0,"brunch, breakfast","Breakfast & Brunch, Restaurants, Diners",$$,3,2,7,-1

In [13]:
df['good_for_meal'].value_counts()

good_for_meal
dinner                                                  269
lunch, dinner                                           243
lunch                                                    81
lunch, brunch, breakfast                                 51
latenight, dinner                                        43
latenight, lunch, dinner                                 39
latenight                                                20
brunch, breakfast                                        16
lunch, breakfast                                         16
dinner, brunch                                           12
brunch                                                   11
lunch, dinner, brunch                                    11
breakfast                                                10
lunch, brunch                                             9
dessert, lunch, dinner                                    9
dessert, dinner                                           8
dessert, lunch, dinner, brunch                            6
dessert                                                   4
latenight, dinner, brunch                                 3
lunch, dinner, breakfast                                  3
dessert, latenight, lunch, dinner, brunch, breakfast      3
latenight, lunch, dinner, brunch, breakfast               3
dessert, latenight, lunch, dinner                         2
latenight, lunch, dinner, brunch                          2
dessert, latenight, dinner                                2
dessert, lunch                                            2
dessert, breakfast                                        2
latenight, lunch                                          2
dessert, lunch, dinner, brunch, breakfast                 2
dessert, lunch, brunch, breakfast                         2
dessert, lunch, breakfast                                 1
lunch, dinner, brunch, breakfast                          1
latenight, brunch, breakfast                              1
dessert, lunch, dinner, breakfast                         1
latenight, lunch, breakfast                               1
Name: count, dtype: int64

In [14]:
df.reset_index(drop=True, inplace=True)

In [15]:
for i in range(df.shape[0]):
    good_for_meal = df.iloc[i]['good_for_meal']
    for meal in good_for_meal.split(','):
        #to lowercase
        meal = meal.strip().lower()
        if meal == 'lunch':
            df.loc[i,'good_for_meal_categories'] = 1
            break
        if meal == 'breakfast':
            df.loc[i,'good_for_meal_categories'] = 0
        if meal == 'dinner':
            df.loc[i,'good_for_meal_categories'] = 2

In [16]:
df.head()

,business_id,name,address,city,stars,review_count,good_for_meal,categories,price,star_categories,price_categories,review_count_categories,good_for_meal_categories
0,-0TffRSXXIlBYVbb5AwfTg,IndeBlue Modern Indian Food & Spirits,205 South 13th St,Philadelphia,4.5,1097.0,dinner,"Cocktail Bars, Food Delivery Services, Nightli...",$$,4,2,10,2
1,-1B9pP_CrRBJYPICE5WbRA,Spice 28,1228 Chestnut St,Philadelphia,4.0,822.0,"lunch, dinner","Asian Fusion, Restaurants, American (New), Tha...",$$,3,2,8,1
2,-5Rah4ZvWsDu4oilUZxhtw,World Cafe Live,3025 Walnut St,Philadelphia,4.0,350.0,dinner,"Nightlife, Arts & Entertainment, Restaurants, ...",$$,3,2,3,2
3,-ATiAtTikuGuqvaW2O6tNA,Marathon,121 S 16th St,Philadelphia,3.5,593.0,"lunch, brunch","Sandwiches, American (New), Lounges, Nightlife...",$$,3,2,5,1
4,-DGsnMlRrR_tv8avrpQLQw,Sam's Morning Glory Diner,735 S 10th St,Philadelphia,4.0,741.0,"brunch, breakfast","Breakfast & Brunch, Restaurants, Diners",$$,3,2,7,0

In [17]:
df[df['name'] == 'Reading Terminal Market']

,business_id,name,address,city,stars,review_count,good_for_meal,categories,price,star_categories,price_categories,review_count_categories,good_for_meal_categories
879,ytynqOUb3hjKeJfRj5Tshw,Reading Terminal Market,51 N 12th St,Philadelphia,4.5,5721.0,"lunch, brunch, breakfast","Candy Stores, Shopping, Department Stores, Fas...",$$,4,2,57,1

In [18]:
#count how many -1 we have for good for meal categories
df['good_for_meal_categories'].value_counts()

good_for_meal_categories
 1    490
 2    337
-1     35
 0     29
Name: count, dtype: int64

In [19]:
#drop rows with -1 for good for meal categories
df.drop(df[df['good_for_meal_categories'] == -1].index, inplace=True)
df.reset_index(drop=True, inplace=True)
df['good_for_meal_categories'].value_counts()

good_for_meal_categories
1    490
2    337
0     29
Name: count, dtype: int64

Country of the food

In [20]:
df['country_of_food'] = -1
df.head()

,business_id,name,address,city,stars,review_count,good_for_meal,categories,price,star_categories,price_categories,review_count_categories,good_for_meal_categories,country_of_food
0,-0TffRSXXIlBYVbb5AwfTg,IndeBlue Modern Indian Food & Spirits,205 South 13th St,Philadelphia,4.5,1097.0,dinner,"Cocktail Bars, Food Delivery Services, Nightli...",$$,4,2,10,2,-1
1,-1B9pP_CrRBJYPICE5WbRA,Spice 28,1228 Chestnut St,Philadelphia,4.0,822.0,"lunch, dinner","Asian Fusion, Restaurants, American (New), Tha...",$$,3,2,8,1,-1
2,-5Rah4ZvWsDu4oilUZxhtw,World Cafe Live,3025 Walnut St,Philadelphia,4.0,350.0,dinner,"Nightlife, Arts & Entertainment, Restaurants, ...",$$,3,2,3,2,-1
3,-ATiAtTikuGuqvaW2O6tNA,Marathon,121 S 16th St,Philadelphia,3.5,593.0,"lunch, brunch","Sandwiches, American (New), Lounges, Nightlife...",$$,3,2,5,1,-1
4,-DGsnMlRrR_tv8avrpQLQw,Sam's Morning Glory Diner,735 S 10th St,Philadelphia,4.0,741.0,"brunch, breakfast","Breakfast & Brunch, Restaurants, Diners",$$,3,2,7,0,-1

In [21]:
for i in range(df.shape[0]):
    country_of_food = df.iloc[i]['categories']
    for country in country_of_food.split(','):
        #to lowercase
        country = country.strip().lower()
        if country == 'american (new)':
            df.loc[i,'country_of_food'] = 0
        if country == 'american (traditional)':
            df.loc[i,'country_of_food'] = 0
        if country == 'mediterranean':
            df.loc[i,'country_of_food'] = 1
        if country == 'chinese':
            df.loc[i,'country_of_food'] = 2
        if country == 'mexican':
            df.loc[i,'country_of_food'] = 3
        if country == 'italian':
            df.loc[i,'country_of_food'] = 4
        if country == 'thai':
            df.loc[i,'country_of_food'] = 5
        if country == 'japanese':
            df.loc[i,'country_of_food'] = 6
        if country == 'asian fusion':
            df.loc[i,'country_of_food'] = 7

In [22]:
df['country_of_food'].value_counts()

country_of_food
-1    275
 0    242
 4    101
 2     53
 3     52
 6     47
 1     33
 7     32
 5     21
Name: count, dtype: int64

In [23]:
df.columns

Index(['business_id', 'name', 'address', 'city', 'stars', 'review_count',
       'good_for_meal', 'categories', 'price', 'star_categories',
       'price_categories', 'review_count_categories',
       'good_for_meal_categories', 'country_of_food'],
      dtype='object')

In [24]:
df.dtypes

business_id                   object
name                          object
address                       object
city                          object
stars                        float64
review_count                 float64
good_for_meal                 object
categories                    object
price                         object
star_categories             category
price_categories               int64
review_count_categories     category
good_for_meal_categories       int64
country_of_food                int64
dtype: object

In [25]:
#cast star_categories to int
df['star_categories'] = df['star_categories'].astype('int64')
df['review_count_categories'] = df['review_count_categories'].astype('int64')

In [33]:
# assume df is your DataFrame
columns_of_interest = ['star_categories', 'price_categories', 'review_count_categories','good_for_meal_categories','country_of_food']

# calculate the weights
weights = (df[columns_of_interest] ** 2).sum(axis=1) / (df[columns_of_interest] ** 2).sum(axis=1).sum()

# sample 100 rows
sampled_df = df.sample(n=100, weights=weights)

In [34]:
sampled_df.head()

,business_id,name,address,city,stars,review_count,good_for_meal,categories,price,star_categories,price_categories,review_count_categories,good_for_meal_categories,country_of_food
224,E1gf1YIWOo1BgzMUwJtEZg,Top Tomato Bar & Pizza,116 S 11th St,Philadelphia,3.5,232.0,"lunch, dinner","Pizza, Breakfast & Brunch, Nightlife, Sandwich...",$,3,1,2,1,4
73,4J06--ty2Ydj1---IsArLw,Cantina Los Caballitos,1651 E Passyunk Ave,Philadelphia,3.5,874.0,dinner,"Restaurants, Mexican, Breakfast & Brunch, Bars...",$$,3,2,8,2,3
365,OdIBX09glfXNVSyd0RnIeg,Monk's Cafe,264 S 16th St,Philadelphia,4.0,2184.0,dinner,"Nightlife, Pubs, Bars, Belgian, Restaurants, G...",$$,3,2,21,2,-1
78,4_VDvhKpKSsj7jZYdocZYA,La Viola,"253 S 16th St, Apt 1",Philadelphia,3.5,524.0,dinner,"Restaurants, Italian",$$,3,2,5,2,4
340,Mt6XTQfwk2DUD3AK29YIBg,Melograno,2012 Sansom St,Philadelphia,3.5,451.0,dinner,"Italian, Restaurants",$$$,3,3,4,2,4

In [35]:
sampled_df['good_for_meal_categories'].value_counts()

good_for_meal_categories
2    55
1    42
0     3
Name: count, dtype: int64

In [36]:
sampled_df['star_categories'].value_counts()

star_categories
3    69
4    24
2     7
Name: count, dtype: int64

In [37]:
sampled_df['price_categories'].value_counts()

price_categories
2    71
3    15
1     8
4     6
Name: count, dtype: int64

In [38]:
sampled_df['review_count_categories'].value_counts()

review_count_categories
2     13
1     13
3      9
4      7
6      7
5      5
11     5
7      4
12     3
15     3
21     3
9      3
16     3
26     3
19     3
27     2
8      2
14     2
13     2
24     1
42     1
22     1
34     1
30     1
31     1
57     1
28     1
Name: count, dtype: int64

In [39]:
sampled_df['country_of_food'].value_counts()

country_of_food
 0    27
-1    25
 4    18
 6    11
 3     6
 2     5
 5     4
 7     3
 1     1
Name: count, dtype: int64